<div class="conteiner">
    <div class="tabla-container">
        <div class="title-container">
            <h1 *ngIf="idProp == 0" class="mt-4 py-2 title">VETERINARIA UNI-IBEROAMERICANA <br/>Crear Propietario</h1>
            <h1 *ngIf="idProp > 0" class="mt-4 py-2 title">VETERINARIA UNI-IBEROAMERICANA <br/>Editar Propietario</h1>
        </div>
        <div class="add-container">
            <div></div>
            <div class="botones-container">
                <button class="btn btn-primary btn-menu-mascotas" routerLink="/propietarios">Atras</button>
            </div>
        </div>
        <form (ngSubmit)="registrarEditarPropietario()" #myForm="ngForm">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombres</label>
                <input type="text" class="form-control" name="nombres" required id="nombres" #nombresInput="ngModel" [(ngModel)]="propietario.nombres">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Apellidos</label>
                <input type="text" class="form-control" name="apellidos" id="apellidos" #apellidosInput="ngModel" [(ngModel)]="propietario.apellidos">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Documento</label>
                <input type="text" class="form-control" name="documento" id="documento" required #documentoInput="ngModel" [(ngModel)]="propietario.documento">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Genero</label>
                <input type="text" class="form-control" name="genero" id="genero" required #generoInput="ngModel" [(ngModel)]="propietario.genero">
            </div>
            <div class="mb-3">
                <button *ngIf="idProp === 0" [disabled]="myForm.invalid"  type="submit" class="btn btn-success btn-crear">Crear</button>
                <button *ngIf="idProp !== 0" [disabled]="myForm.invalid"  type="submit" class="btn btn-success btn-crear">Editar</button>
                <button type="reset" class="btn btn-secondary btn-crear">Limpiar</button>
            </div>
        </form>
    </div>
</div>