<div class="conteiner">
    <div class="tabla-container">
        <div class="title-container">
            <h1 *ngIf="idMascota == 0" class="mt-4 py-2 title">VETERINARIA UNI-IBEROAMERICANA <br/>Crear Mascota</h1>
            <h1 *ngIf="idMascota > 0" class="mt-4 py-2 title">VETERINARIA UNI-IBEROAMERICANA <br/>Editar Mascota</h1>
        </div>
        <div class="add-container">
            <div></div>
            <div class="botones-container">
                <button class="btn btn-primary btn-menu-mascotas" routerLink="/mascotas">Atras</button>
            </div>
        </div>
        <form (ngSubmit)="editarRegistrarMascota()" #myForm="ngForm">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Propietario</label>
                <select class="form-control" name="propietarioId" required id="propietarioId"
                    #propietarioInput="ngModel" [(ngModel)]="mascota.propietarioId">                    
                    <option *ngFor="let prop of propietarios" [value]="prop.propietarioId" >{{prop.nombres}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="Nombre" required id="Nombre" #nombreInput="ngModel"
                    [(ngModel)]="mascota.nombre">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Tipo</label>
                <select class="form-control" name="tipoId" id="tipoId" required #tipoInput="ngModel"
                    [(ngModel)]="mascota.tipoId">
                    <option *ngFor="let tipo of tipos" [value]="tipo.tipoId">{{tipo.descripcionTipo}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Raza</label>
                <select class="form-control" name="razaId" id="razaId" required #razaInput="ngModel"
                    [(ngModel)]="mascota.razaId">
                    <option *ngFor="let raza of razas" [value]="raza.razaId">{{raza.descripcionRaza}}</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Peso (Libras)</label>
                <input type="text" class="form-control" name="Peso" required id="Peso" #nombreInput="ngModel"
                    [(ngModel)]="mascota.pesoLb">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Genero</label>
                <select class="form-control" name="Genero" id="Genero" required #generoInput="ngModel"
                    [(ngModel)]="mascota.genero">
                    <option value="M" selected>Macho</option>
                    <option value="H">Hembra</option>
                </select>
            </div>
            <div class="mb-3">
                <button *ngIf="idMascota == 0" [disabled]="myForm.invalid" type="submit" class="btn btn-success btn-crear">Crear</button>
                <button *ngIf="idMascota > 0" [disabled]="myForm.invalid" type="submit" class="btn btn-success btn-crear">Editar</button>
                <button type="reset" class="btn btn-secondary btn-crear" id="btn-limpiar">Limpiar</button>
            </div>
        </form>
    </div>
</div>